.weekView table {
  width: 100%;
}

.weekView table tr td {
  border-bottom: 1px solid #eee;
}

.weekView table tr td.time {
  font-size: 12px;
  vertical-align: top;
  height: 50px;
  padding: 0;
  min-width: 60px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 2;
}

.weekView table tr td {
  border-right: 1px solid #eee;
  overflow: hidden;
}

.weekView table thead {
  background: #495668;
  color: #fff;
}

.weekView table th {
  padding: 5px;
}

.weekView table tr td .event {
  background: #495668;
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 0.8vw;
  display: flex;
  margin-right: 0.3vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


