.weekView table {
  width: 100%;
}

.weekView table tr td {
  border-bottom: 1px solid #eee;
}

.weekView table tr td.time {
  font-size: 12px;
  vertical-align: top;
  height: 35px;
}

.weekView table tr td {
  border-right: 1px solid #eee;
  overflow: hidden;
}

.weekView table thead {
  background: #495668;
  color: #fff;
}

.weekView table th {
  padding: 5px;
}

.weekView table tr td .event {
  background: #495668;
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 0.9vw;
  display: flex;
  margin-right: 0.3vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0.2vw;
  cursor: pointer;
}


